<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org/">
    <title>Title</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="p-3 container-md border rounded m-auto vh-100">
    <div class="d-flex gap-5">
        <p class="btn btn-primary"><a th:href="|/boards|" class="text-light link-underline link-underline-opacity-0">HOME</a></p>
        <p class="btn btn-secondary"><a th:href="|/boards/${boardId}|" class="text-light link-underline link-underline-opacity-0">[[${category}]]</a></p>
    </div>
    <p class="m-auto fs-4">제목 : [[${article.title}]]</p>
    <p class="fs-4">내용 : [[${article.content}]]</p>
    <div class="">
        <p class="btn btn-secondary"><a class="text-light link-underline link-underline-opacity-0" th:href="|/articles/${articleId}/update|">게시글 업데이트</a></p>
    </div>
    <div class="border rounded p-3">
        <p class="text-danger fs-5">게시글 삭제</p>
        <form id="deleteForm" th:action="|/articles/${articleId}/delete|" method="post">
            <label>비밀번호확인 <input type="password" id="pw" name="password"></label>
            <button id="delete" class="btn btn-danger text-light">삭제</button>
        </form>
    </div>
    <div class="bg-black mt-2" style="height: 2px"></div>
    <div>
        <p>댓글</p>
        <form th:action=|/articles/${articleId}/comment| method="post">
            <label>제목: <input type="text" name="title"></label>
            <label>내용: <input type="text" name="content"></label>
            <label>비밀번호: <input type="password" name="password"></label>
            <input type="submit" value="댓글 작성">
        </form>
        <p class="mt-4">댓글 목록</p>
        <ul>
            <li th:each="comment:${comments}">제목:[[${comment.title}]]
                <span class="ms-4">내용 : [[${comment.content}]]</span>
                <!--                     삭제                          -->
                <form th:class="|commentForm${comment.id} commentForm|"
                      th:action="|/articles/${articleId}/comment/${comment.id}/delete|" method="post">
                    <label>비밀번호확인 <input th:class="|pwInput${comment.id}|" type="password" name="password"></label>
                    <button th:commentId="${comment.id}" th:class="|commentDelete${comment.id}|"
                            th:onclick="deleteComment(this.getAttribute('commentId'))" type="button">삭제
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>
<script th:inline="javascript">
    const articleId = [[${articleId}]]
    document.querySelector("#delete").addEventListener('click', () => {
        axios.post(`/articles/${articleId}/password-check`, {
            password: document.querySelector("#pw").value
        }).then(res => {
            if (res.data) {
                document.querySelector("#deleteForm").submit();
            } else {
                alert("게시글 비밀번호가 일치하지 않습니다.")
            }
        }).catch((e) => {
            console.log(e)
            alert("서버가 응답하지 않습니다.")
        });
    })

    document.querySelector("#deleteForm").addEventListener("submit", (e) => {
        e.preventDefault();
    })

    function deleteComment(commentId) {
        axios.post(`/articles/${articleId}/comment-password-check`, {
            password: document.querySelector(`.pwInput${commentId}`).value,
            commentId: commentId
        }).then(res => {
            if (res.data) {
                document.querySelector(`.commentForm${commentId}`).submit();
            } else {
                alert("댓글 비밀번호가 일치하지 않습니다")
            }
        }).catch(() => {
            alert("서버 미응답")
        })
    }

    document.querySelectorAll(".commentForm").forEach((e)=>{
        e.addEventListener("submit", (el)=> {
            el.preventDefault()
        })
    });
</script>
</body>
</html>
