<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Boards</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<main class="p-3 container-md border rounded m-auto vh-100">
    <div>
        <p class="fs-3">게시판</p>
        <ul class="d-flex flex-column list-group">
            <li class="link-opacity-50-hover list-unstyled list-group-item" th:each="board: ${boards}"><a th:href="|boards/${board.id}|" class="link-underline link-underline-opacity-0">[[${board.category}]]</a>
            </li>
        </ul>
        <div class="mt-4">
            <p class="fs-5">전체 게시판</p>
            <ul class="list-group">
                <li class="list-unstyled underline list-group-item" th:each="article: ${articles}"><a th:href="|/articles/${article.id}|" class="link-underline link-underline-opacity-0">[[${article.title}]]</a></li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>